/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  padding: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

mat-sidenav {
  min-width: 200px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.mb-1 {
  margin-bottom: 1rem !important;
}
